[submodule "KieShop/Tool/lib/spdlog"]
	path = KieShop/Tool/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "KieShop/ToolReception/lib/cinatra"]
	path = KieShop/ToolReception/lib/cinatra
	url = https://github.com/qicosmos/cinatra.git
[submodule "KieShop/ToolReception/lib/spdlog"]
	path = KieShop/ToolReception/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "KieShop/ToolReception/lib/fmt"]
	path = KieShop/ToolReception/lib/fmt
	url = https://github.com/fmtlib/fmt.git
